{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>W3Indonesia</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  
  <link rel="stylesheet" href="{% static 'css/editor.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/prism.css' %}">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <style>
    pre {
        border-left: 4px solid #0558d2;
        /* border-radius: 5px; */
    }
  </style>
</head>

<body>
  
  <header class="navbar navbar-expand-md navbar-dark bd-navbar">
    <nav class="container-xxl flex-wrap flex-md-nowrap"><a class="navbar-brand p-0 me-2" href="/">W3Indonesia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <svg width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
  
      <div class="collapse navbar-collapse" id="bdNavbar">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0 ms-auto">
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="/">Home</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="#">Bootcamp</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="#">Blog</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="#">Docs</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="#">Jobs</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="#">Scholarship</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="#">News</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
    <div class="container-xxl d-flex align-items-md-center">
      <form class="bd-search position-relative mr-auto">
        <input type="search" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
      </form>
      <button class="btn bd-sidebar-toggle d-md-none py-0 px-1 ms-3 order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tutorial_nav" aria-controls="tutorial_nav">
        <svg width="24" height="24" class="bi bi-expand" fill="currentColor" viewBox="0 0 16 16">
          <title>Expand</title>
          <path d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"/>
        </svg>
        <svg width="24" height="24" class="bi bi-collapse" fill="currentColor" viewBox="0 0 16 16">
          <title>Collapse</title>
          <path d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"/>
        </svg>
      </button>
    </div>
  </nav>
  
  
  <div class="container-xxl my-md-4 bd-layout">
    <aside class="bd-sidebar">
      <nav class="collapse bd-links" id="tutorial_nav" aria-label="Docs navigation"><ul class="list-unstyled mb-0 py-3 pt-md-1">
        <li class="mb-1">
          <div class="collapse show" id="getting-started-collapse">
            <ul class="list-unstyled fw-normal pb-1 ">
              {% block sidenav %}
                {% for content in content_list %}
                  <li>
                    <a href="{{ content.slug }}">{{ content.title }}</a>
                  </li>
                {% endfor %}
              {% endblock sidenav %}
            </ul>
          </div>
        </li>
        <li class="my-3 mx-4 border-top"></li>
      </nav>
    </aside>
  
    <main class="bd-main order-1">
        <div class="bd-content ps-lg-4">
          <a class="btn btn-primary previouspost" href="{{ article.previouspost }}"><i class="fas fa-chevron-circle-left"></i></a> 
          <a class="btn btn-primary nextpost" href="{{ article.nextpost }}"><i class="fas fa-chevron-circle-right"></i></a> <br><br>
          <div class="d-md-flex align-items-center justify-content-between">
            <h1 class="bd-title" id="content">{{ article.title }}</h1>
          </div>
          <p class="bd-lead">{{ article.body|safe }}</p>
          <a class="btn btn-primary previouspost" href="{{ article.previouspost }}"><i class="fas fa-chevron-circle-left"></i></a> 
          <a class="btn btn-primary nextpost" href="{{ article.nextpost }}"><i class="fas fa-chevron-circle-right"></i></a> <br>
        </div>
        <div class='toTop'>
          <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
        </div>
    </main>
  </div>
  <footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
      <ul class="bd-footer-links ps-0 mb-3">
        <li class="d-inline-block"><a href="https://github.com/w3indonesia">GitHub</a></li>
        <li class="d-inline-block ms-3"><a href="https://www.instagram.com/w3indonesia">Instagram</a></li>
        <li class="d-inline-block ms-3"><a href="/">YouTube</a></li>
        <li class="d-inline-block ms-3"><a href="https://www.linkedin.com/in/w3indonesia">LinkedIn</a></li>
      </ul>
      <p class="mb-0">Dibuat oleh W3Indonesia Team untuk Indonesia. Bersama kita memajukan teknologi Indonesia.</p>
      <p class="mb-0">&copy2021 by W3Indonesia. All rights reserved.</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script src="{% static 'js/prism.js' %}"></script>
  <script src="{% static 'js/editor.js' %}"></script>
  <script>
      function copyToClipboard(elementId) {

        var range = document.createRange();
        range.selectNode(document.getElementById(elementId));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges();// to deselect    

    }  
  </script>
</body>
</html>
